*{
    margin: 0;
    padding: 0;
}

body {
    background: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
    width: 1170px;
    margin: auto;
}


